<div ng-include="'views/navbar.html'"></div>
<div class="wrapper">
    <div id="alert-container"></div>
    <div class="loading" ng-show="loading">
        <i class="fa fa-spin fa-refresh fa-5x"></i>
    </div>
    <div align="center" class="welcome" ng-show="welcome">
    	<h1>Welcome!</h1>	
		<p>Type in the search bar above to search for Tweets</p>
    </div>
    <div class="col-md-4" ng-repeat="tweet in tweets">
        <div class="tweet-card" ng-class="{'tweet-positive': tweet.sentiment.score>0, 'tweet-negative': tweet.sentiment.score<0,'tweet-neutral': tweet.sentiment.score===0}">
            <div class="tweet-head">
                <a href="https://twitter.com/{{tweet.user.screen_name}}" target="_blank"><strong>{{tweet.user.name}}</strong></a> <a href="https://twitter.com/{{tweet.user.screen_name}}" target="_blank"><small>@{{tweet.user.screen_name}}</small></a>
            </div>
            <div class="tweet-body">
                <p ng-bind-html="tweet.text | TweetLinky:'_blank'"></p>
            </div>
            <div class="tweet-footer-icons">
                <a title="Open in Twitter" href="https://twitter.com/{{tweet.user.screen_name}}/status/{{tweet.id_str}}" target="_blank">Open in Twitter <i class="fa fa-twitter"></i></a>
            </div>
            <div class="tweet-time">
            	<small>{{timeFactory.fromNow(tweet.created_at)}}</small>
            </div>
        </div>
    </div>
</div>